{% load static %}

<!-- Classes Section -->
	<section class="classes-section spad">
		<div class="container">
			<div class="section-title text-center">
				<img src="{% static 'img/icons/logo-icon.png' %}" alt="">
				<h2>Popular Classes</h2>
				<p>Practice Yoga to perfect physical beauty, take care of your soul and enjoy life more fully!</p>
			</div>
			<div class="classes-slider owl-carousel">
				<div class="classes-item">
					<div class="ci-img">
						<img src="{% static 'img/classes/1.jpg' %}" alt="">
					</div>
					<div class="ci-text">
						<h4><a href="#">Artistic Yoga</a></h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>
					</div>
					<div class="ci-bottom">
						<div class="ci-author">
							<img src="{% static 'img/classes/author/1.jpg' %}" alt="">
							<div class="author-text">
								<h6>Victoria Webb</h6>
								<p>Yoga Trainer</p>
							</div>
						</div>
						<a href="" class="site-btn sb-gradient">book now</a>
					</div>
				</div>
				<div class="classes-item">
					<div class="ci-img">
						<img src="{% static 'img/classes/2.jpg' %}" alt="">
					</div>
					<div class="ci-text">
						<h4>Traditional Hatha</h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>
					</div>
					<div class="ci-bottom">
						<div class="ci-author">
							<img src="{% static 'img/classes/author/2.jpg' %}" alt="">
							<div class="author-text">
								<h6>Victoria Webb</h6>
								<p>Yoga Trainer</p>
							</div>
						</div>
						<a href="" class="site-btn sb-gradient">book now</a>
					</div>
				</div>
				<div class="classes-item">
					<div class="ci-img">
						<img src="{% static 'img/classes/3.jpg' %}" alt="">
					</div>
					<div class="ci-text">
						<h4>Yoga Therapy</h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>
					</div>
					<div class="ci-bottom">
						<div class="ci-author">
							<img src="{% static 'img/classes/author/3.jpg' %}" alt="">
							<div class="author-text">
								<h6>Victoria Webb</h6>
								<p>Yoga Trainer</p>
							</div>
						</div>
						<a href="" class="site-btn sb-gradient">book now</a>
					</div>
				</div>
				<div class="classes-item">
					<div class="ci-img">
						<img src="{% static 'img/classes/2.jpg' %}" alt="">
					</div>
					<div class="ci-text">
						<h4>Traditional Hatha</h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>
					</div>
					<div class="ci-bottom">
						<div class="ci-author">
							<img src="{% static 'img/classes/author/2.jpg' %}" alt="">
							<div class="author-text">
								<h6>Victoria Webb</h6>
								<p>Yoga Trainer</p>
							</div>
						</div>
						<a href="" class="site-btn sb-gradient">book now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Classes Section end -->