{% load static %}

<!-- Footer Section TODO: to fix the info in the footer-->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<div class="about-widget">
							<img src="{% static 'img/icons/logo-icon.png' %}" alt="">
							<p>Special thanks to pexels.com and icons8.com for the images and icons.</p>
							<ul>
								<li><i class="material-icons">phone</i>0897/ 214-209</li>
								<li><i class="material-icons">email</i>ilina.nedeva94@gmail.com</li>
								<li><i class="material-icons">map</i>Varna, Bulgaria</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget pl-0 pl-lg-5">
						<h2 class="fw-title">Diary links</h2>
						<ul>
							<li><a href="{% url 'diary' %}">Diary</a></li>
							<li><a href="{% url 'log-diary' %}?entry_type=meal">Log meal</a></li>
							<li><a href="{% url 'log-diary' %}?entry_type=drink">Log drink</a></li>
							<li><a href="{% url 'log-diary' %}?entry_type=water">Log water</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-sm-6">
					<div class="footer-widget">
						<h2 class="fw-title">Workouts</h2>
						<ul>
							<li><a href="{% url 'list-workout' %}">Workouts</a></li>
							<li><a href="{% url 'create-workout' %}">Create Workout</a></li>

						</ul>
					</div>
				</div>



				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget pl-0 pl-lg-5">
						<h2 class="fw-title">About us</h2>
						<ul>
							<li><a href="{%  url 'index' %}">Home</a></li>
                            <li><a href="{%  url 'about' %}">About</a></li>
							<li><a href="{%  url 'contacts' %}">Contacts</a></li>
						</ul>

					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-social">
{#                            TODO: Add links#}
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-8 text-md-right">
						<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section end -->

	<div class="back-to-top"><img src="{% static 'img/icons/up-arrow.png' %}" alt=""></div>



	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


