{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}


    <!-- Page top Section -->
	<section class="page-top-section page-sp set-bg" data-setbg="img/page-top-bg.jpg" style="height: 250px">

	</section>
	<!-- Page top Section end -->

	<!-- Classes Section -->

	<section class="classes-page-section spad overflow-hidden" style="padding-top: 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="classes-top">
						<div class="row">

                            <div class="col-md-6">
                                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ total_workouts }} workouts</p>
                                <a href="{% url 'create-workout' %}" class="site-btn sb-gradient">+ add new workout</a>
                            </div>



							<div class="col-md-6">
                                {% if object_list %}
                                <form method="get">
                                    <!-- Hidden fields for filtering parameters -->
                                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                                    <input type="hidden" name="type" value="{{ request.GET.type }}">
                                    <input type="hidden" name="intensity" value="{{ request.GET.intensity }}">

                                    <select name="sort" class="circle-select" onchange="this.form.submit()">
                                        <option value="" {% if request.GET.sort == "" %}selected{% endif %}>Default Sorting</option>
                                        <option value="oldest" {% if request.GET.sort == "oldest" %}selected{% endif %}>Oldest</option>
                                        <option value="newest" {% if request.GET.sort == "newest" %}selected{% endif %}>Newest</option>
                                        <option value="a_z" {% if request.GET.sort == "a_z" %}selected{% endif %}>A-Z</option>
                                        <option value="z_a" {% if request.GET.sort == "z_a" %}selected{% endif %}>Z-A</option>
                                    </select>
                                </form>
                                {% endif %}
                            </div>
						</div>
					</div>
					<div class="row">

                {% if object_list %}
                    {%  for obj in object_list %}


						<div class="col-md-6">
							<div class="classes-item-warp">
								<div class="classes-item">
									<div class="ci-img">

                                        {%  if obj.video_url %}
                                         <iframe style="width: 280px;height: 280px;" src="{{ obj.video_url }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                        {% else %}
                                            <img style="width: 280px;height: 262px;" src="{% static 'img/classes/1.jpg' %}" alt="">
                                        {%  endif %}

                                    </div>


									<div class="ci-text">

										<h4><a href="{% url 'details-workout' obj.pk %}">{{ obj.name }}</a></h4>
										<div class="ci-metas">
											<div class="ci-meta"><i class="material-icons">category</i>{{ obj.type }}</div>
											<div class="ci-meta"><i class="material-icons">list</i>{{ obj.category }}</div>
                                            <div class="ci-meta"><i class="material-icons">whatshot</i>{{ obj.intensity }}</div>
										</div>
										<p>Description: {{ obj.description }}. </p>
                                        <p>Equipment needed: {{ obj.equipment_needed }}</p>

                                        <p>Added: {{ obj.created_at|date:"F j, Y" }}</p>
									</div>

                                    {% if request.user == obj.user %}
									<div class="ci-bottom">
										<div class="ci-author">
                                            <a href="{% url 'edit-workout' obj.pk %}" class="site-btn sb-gradient">edit</a>
										</div>
                                        <a href="{%  url 'delete-workout' obj.pk %}" class="site-btn sb-gradient">delete</a>
									</div>
                                    {%  endif %}

								</div>
							</div>
						</div>
                    {%  endfor %}

					</div>
                {%  else %}
                    <p> No workouts. Try adding one ...</p>
                {%  endif %}

                    {% if object_list %}
                    <div class="site-pagination pt-3">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; </a>
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="?page={{ num }}" class="active">{{ num }}</a>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                            <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
                        {% endif %}
                    </div>

                    {% endif %}

				</div>

            {%  if object_list %}
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <h2 class="sb-title">Filter Workouts</h2>
                    <form class="classes-filter" action="" method="get">
                            <!-- Hidden field for sorting parameter -->
                            <input type="hidden" name="sort" value="{{ request.GET.sort }}">

                        <select name="category" class="circle-select">
                            <option value="">Choose Category</option>
                            {% for value, name in category_choices %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <select name="type" class="circle-select">
                            <option value="">Choose Type</option>
                            {% for value, name in workout_type_choices %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <select name="intensity" class="circle-select">
                            <option value="">Choose Intensity</option>
                            {% for value, name in intensity_choices %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>

{#                                Later: Add filtration by keyword for equipment #}
							<button class="site-btn sb-gradient">Filter now</button>
						</form>
					</div>

				</div>
            {%  endif %}


			</div>
		</div>
	</section>
	<!-- Classes Section end -->



{% endblock %}