{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}

        <section class="hero-section">
                <div class="container">
                    <div class="trainer-details login-container" style="max-width: 800px;">
                        <h2>Create Workout</h2>
                        <br>
{#                        TODO: to fix the styles of the form#}
                        <form action="{%  url 'create-workout'  %}" method="post" class="singup-form contact-form" >

                                        {{ form.as_p}}
                                        {% csrf_token %}

                                        <button type="submit" class="site-btn sb-gradient">Create</button>
                        </form>
                    </div>
                </div>
        	</section>

{% endblock %}