{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}


     {#    <section class="trainer-details-section spad overflow-hidden">#}
                <div class="container">
                    <div class="trainer-details">
        {#           TODO: To revise the css classes#}
                        <form action="{%  url 'delete-workout' object.pk %}" method="post" class="login-form" >

                            {{ form.as_p}}
                            {% csrf_token %}

                            <button type="submit" class="site-btn sb-gradient">Delete</button>
                        </form>
                    </div>
                </div>
        {#	</section>#}


{% endblock %}

