{%  extends 'base.html' %}
{%  load static %}
{%  block additional_styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        .rating > input { display: none; }
        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005"; /* FontAwesome Star */
        }
        .rating > .half:before {
            content: "\f089"; /* FontAwesome Star Half */
            position: absolute;
        }
        .rating > label {
            color: #ddd;
            float: right;
        }
        .rating > input:checked ~ label, /* show gold star when checked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

        .rating {
            display: flex; /* Align items in a row */
            flex-direction: row-reverse; /* Reverse the order to make the highest value on the right */
            justify-content: flex-end; /* Align items to the right */
        }
        .rating > label {
            color: #ddd;
            /* Removed the float:right; */
        }
        .rating-form {
            display: flex;
            align-items: center; /* Center-align the button vertically with the stars */
            justify-content: start; /* Align content to the start (left) */
        }
        .rating-form button {
            margin-left: 10px; /* Add some space between the stars and the button */
        }

    </style>
{%  endblock %}


{%  block main_content %}



	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg" style="height: 250px">
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-lg-7 m-auto text-white">#}
{#                    <h2>Profile details</h2>#}
{#					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}

	</section>
	<!-- Page top Section end -->


{% endblock %}
{% block additional_content %}
{#    TODO: FIX this page #}
{#    TODO: add a button for edit workout on this page#}
{#    TODO: add a button for delete workout on this page#}

	<!-- Workout Details Section -->
	<section class="classes-details-section spad overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="classes-details">
						<div class="classes-preview" id="workout-{{ object.pk }}">
{#							<img src="{%  static 'img/classes/big.jpg' %}" alt="">#}
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/8E0-1NYFOHg?si=rgBt0a4nxwKpozHN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
						<div class="row">
							<div class="col-lg-8">

                                <div>
{#                                    <p>Current Rating: </p>#}
                                    <div class="rating">
                                        {% for value in rating_range %}
                                        <span class="{% if value <= average_rating %}fas{% else %}far{% endif %} fa-star" style="color: #FFD700;"></span>
                                        {% endfor %}
{#                                        ({{average_rating}})#}
                                    </div>
                                </div>

								<h2>{{ object.name }}</h2>
                                <h6>Added: {{ object.created_at }}</h6>
                                <br>

{#								<div class="cd-meta"><p><i class="material-icons">alarm_on</i>120 Mins </p></div>#}
{#								<div class="cd-meta"><p><i class="material-icons">people_outline</i>250 People Registered</p></div>#}
							</div>
{#							<div class="col-lg-4 text-left text-md-right">#}
{#								<div class="cd-price">$29</div>#}
{#							</div>#}
						</div>
{#						<p>Description: </p>#}
						<div class="row mb-5">
{#							<div class="col-lg-5">#}
{#								<img src="{%  static 'img/classes/classes-details.png' %}" alt="">#}
{#							</div>#}
							<div class="col-lg-7">
{#								<blockquote>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain.</blockquote>#}
								<h3>Stats:</h3>
								<ul>
									<li><i class="material-icons">done_all</i>Type: {{ object.type }}</li>
									<li><i class="material-icons">done_all</i>Category: {{ object.category }}</li>
									<li><i class="material-icons">done_all</i>Intensity: {{ object.intensity }}</li>
									<li><i class="material-icons">done_all</i>Equipment needed: {{ object.equipment_needed }}</li>
								</ul>
							</div>
						</div>
						<p>Description: {{ object.description }} </p>

                        <div>
                            <form method="post" class="rating-form">
                                {% csrf_token %}
                                <div class="rating">
                                    {% for value in rating_range %}
                                    <input type="radio" id="star{{value}}" name="score" value="{{value}}" {% if value == rating_form.instance.score %}checked{% endif %}/>
                                    <label for="star{{value}}" title="{{value}} star"></label>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="site-btn sb-gradient">Rate</button>
                            </form>
                        </div>

                        {% if user.is_authenticated and rating_form.instance.pk %}
                            <form action="{% url 'remove_rating' workout_id=object.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Remove My Rating</button>
                            </form>
                        {% endif %}



{#						<div class="row">#}
{#							<div class="col-sm-7">#}
{#								<div class="cd-cata"><p><i class="material-icons">local_offer</i>Health & Beauty</p></div>#}
{#							</div>#}
{#							<div class="col-sm-5 text-left text-sm-right pt-4 pt-sm-0">#}
{#								<div class="cd-social">#}
{#									<a href="#"><i class="fa fa-facebook"></i></a>#}
{#									<a href="#"><i class="fa fa-instagram"></i></a>#}
{#									<a href="#"><i class="fa fa-twitter"></i></a>#}
{#									<a href="#"><i class="fa fa-linkedin"></i></a>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
					</div>

{# TODO: showcase other workouts , but filter out the main workout shown #}
{#					<h3 class="comment-title">Other Classes</h3>#}
{#					<div class="classes-other-slider owl-carousel">#}
{#						<div class="classes-item">#}
{#							<div class="ci-img">#}
{#								<img src="img/classes/1.jpg" alt="">#}
{#							</div>#}
{#							<div class="ci-text">#}
{#								<h4><a href="../classes-details.html">Artistic Yoga</a></h4>#}
{#								<div class="ci-metas">#}
{#									<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>#}
{#									<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>#}
{#								</div>#}
{#								<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>#}
{#							</div>#}
{#							<div class="ci-bottom">#}
{#								<div class="ci-author">#}
{#									<img src="img/classes/author/1.jpg" alt="">#}
{#									<div class="author-text">#}
{#										<h6>Victoria Webb</h6>#}
{#										<p>Yoga Trainer</p>#}
{#									</div>#}
{#								</div>#}
{#								<a href="" class="site-btn sb-gradient">book now</a>#}
{#							</div>#}
{#						</div>#}
{#						<div class="classes-item">#}
{#							<div class="ci-img">#}
{#								<img src="img/classes/2.jpg" alt="">#}
{#							</div>#}
{#							<div class="ci-text">#}
{#								<h4>Traditional Hatha</h4>#}
{#								<div class="ci-metas">#}
{#									<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>#}
{#									<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>#}
{#								</div>#}
{#								<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>#}
{#							</div>#}
{#							<div class="ci-bottom">#}
{#								<div class="ci-author">#}
{#									<img src="img/classes/author/2.jpg" alt="">#}
{#									<div class="author-text">#}
{#										<h6>Victoria Webb</h6>#}
{#										<p>Yoga Trainer</p>#}
{#									</div>#}
{#								</div>#}
{#								<a href="" class="site-btn sb-gradient">book now</a>#}
{#							</div>#}
{#						</div>#}
{#						<div class="classes-item">#}
{#							<div class="ci-img">#}
{#								<img src="img/classes/3.jpg" alt="">#}
{#							</div>#}
{#							<div class="ci-text">#}
{#								<h4>Yoga Therapy</h4>#}
{#								<div class="ci-metas">#}
{#									<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>#}
{#									<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>#}
{#								</div>#}
{#								<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>#}
{#							</div>#}
{#							<div class="ci-bottom">#}
{#								<div class="ci-author">#}
{#									<img src="img/classes/author/3.jpg" alt="">#}
{#									<div class="author-text">#}
{#										<h6>Victoria Webb</h6>#}
{#										<p>Yoga Trainer</p>#}
{#									</div>#}
{#								</div>#}
{#								<a href="" class="site-btn sb-gradient">book now</a>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}





					<h3 class="comment-title">Comments</h3>
					<ul class="comment-list">
                    {%  if object.comment_set.all %}
                        {% for comment in object.comment_set.all %}

                            <li>
                            {% if comment.user.profile.profile_picture %}
                               <img src="{{ comment.user.profile.profile_picture.url }}" class="comment-pic" alt="">
                            {% else %}
                                <img src="{%  static 'img/classes/author/head1.png' %}"  class="comment-pic" alt="">
                            {%  endif %}


							<div class="comment-text">
								<h3>{{ comment.user.profile.full_name }} </h3>
{#								<div class="comment-date"><i class="material-icons">alarm_on</i>June 28, 2019 at 3:18 pm</div>#}
								<div class="comment-date"><i class="material-icons">alarm_on</i>{{ comment.created_at }}</div>
								<p>{{ comment.text }}</p>
                                {%  if request.user == comment.user %}
                                    <div class="buttons-container" style="display: flex; justify-content: flex-end; margin-top: 0px;">
                                    <form action="{% url 'delete-comment-to-workout' comment_id=comment.pk workout_id=object.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-custom btn-delete" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</button>
                                    </form>
                                    </div>
                                {%  endif %}

                                <br>

							</div>

						    </li>

                        {% endfor %}

                    {% else %}
                        <p> There are no comments yet. Feel free to be the first...</p>
                    {%  endif %}
					</ul>


					<h3 class="comment-title">Leave a Comment</h3>
					<form class="singup-form" action="{%  url 'comment' workout_id=object.pk %}" method="post">
						<div class="row">
                            {%  csrf_token %}
{#                            TODO: remove the label#}
							<div class="col-md-12">
                                {{ comment_form.as_p }}
{#								<textarea placeholder="Start typing..."></textarea>#}
{#								<a href="#" class="site-btn sb-gradient">Comment</a>#}
                                <button type="submit" class="site-btn sb-gradient">Comment</button>
							</div>
						</div>
					</form>
				</div>


				<div class="col-lg-3 col-md-5 col-sm-8 sidebar">
{#					<div class="sb-widget">#}
{#						<h2 class="sb-title">About instructor</h2>#}
{#						<div class="classes-info">#}
{#							<ul>#}
{#								<li><i class="material-icons">map</i>184 Main Collins Street</li>#}
{#								<li><i class="material-icons">event_available</i>15 January, 2019</li>#}
{#								<li><i class="material-icons">done_all</i>Mon, Fri</li>#}
{#								<li><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</li>#}
{#								<li><i class="material-icons">person_outline</i>Lori Kennedy</li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
					<div class="sb-widget">
						<h2 class="sb-title">Added by</h2>
						<div class="about-instructor-widget">

                            {% if object.user.profile.profile_picture %}

                            <img src="{{ object.user.profile.profile_picture.url }}" alt="cannot load pic">
                        {% else %}
						    <img src="{%  static 'img/classes/author/head1.png' %}" alt="">
                        {%  endif %}


							<h4>{{ object.user.profile.full_name }}</h4>
{#                            TODO: strip only date#}
{#							<h6>Last activity: {{ object.user.last_login }}</h6>#}
							<p>Last activity: {{ object.user.last_login }}</p>
                            <p>Joined since: {{ object.user.date_joined }}</p>
							<div class="ai-social">

                                {% if object.user.profile.facebook_profile_url %}
								<a href="{{ object.user.profile.facebook_profile_url }}"><i class="fab fa-facebook"></i></a>
                                {% endif %}

                                {% if object.user.profile.instagram_profile_url %}
								<a href="{{ object.user.profile.instagram_profile_url }}"><i class="fab fa-instagram"></i></a>
                                {% endif %}

								{% if object.user.profile.linkedin_profile_url %}
								<a href="{{ object.user.profile.linkedin_profile_url }}"><i class="fab fa-linkedin"></i></a>
                                {% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Classes Details Section end -->


{% endblock %}