{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}

<section class="hero-section">
{#     TODO: to fix forms layout and placehoders#}
                <div class="container">
                    <div class="trainer-details login-container">
                        <h2>Edit Workout</h2>
                        <br>
        {#           TODO: To revise the classes#}
                        <form action="{%  url 'edit-workout' object.pk %}" method="post" class="login-form" >

                                        {{ form.as_p}}
                                        {% csrf_token %}

                                        <button type="submit" class="site-btn sb-gradient">Edit</button>
                        </form>
                    </div>
                </div>
        	</section>


{% endblock %}