 {%  extends 'base.html' %}

{%  load static %}

{%  block main_content %}

    <section class="hero-section">
	<!-- Page top Section -->
		<div class="container ">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>Are you sure you want to delete your profile?</h2>

                    <p>Deleting your profile is a permanent action that cannot be undone. By choosing to delete your profile, you will lose access to all your account information, preferences, and any content you've created or uploaded. </p>
                    <p>Please consider that this action will also remove your personal data from our platform. If you're sure you want to continue, please confirm your decision by clicking the 'Delete' button below. Otherwise, you can choose to go back and keep your profile active.</p>


                    <form action="{% url 'delete-profile' object.pk %}" method="post" class="signup-form login-form">
                        {%  csrf_token %}


                        <button class="btn-custom btn-delete" type="submit">Delete</button>
                        <br>

                        <a  href="javascript:history.back()">
                            <button class="btn-custom btn-edit" type="button">Go back</button>
                        </a>
                    </form>

                </div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->
{% endblock %}

