 {%  extends 'base.html' %}

{%  load static %}

{%  block main_content %}


	                                                                              
	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg" style="height: 250px">
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-lg-7 m-auto text-white">#}
{#                    <h2>Profile details</h2>#}
{#					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}

	</section>
	<!-- Page top Section end -->


{% endblock %}
{% block additional_content %}

	<!-- Profile Section -->
	<section class="trainer-details-section spad overflow-hidden" style="padding-top: 10px; ">
		<div class="container">
			<div class="trainer-details">

				<div class="trainer-info">

					<div class="td-left">

                        {% if profile.profile_picture %}


                            <img src="{{ profile.profile_picture.url }}" alt="cannot load pic">
                        {% else %}

						    <img src="{%  static 'img/classes/author/head1.png' %}" alt="">
                        {%  endif %}

						<div class="td-social">
                            {% if profile.facebook_profile_url %}
							<a href="{{ profile.facebook_profile_url }}"><i class="fa fa-facebook"></i></a>
                            {% endif %}

                            {% if profile.instagram_profile_url %}
							<a href="{{ profile.instagram_profile_url }}"><i class="fa fa-instagram"></i></a>
                            {% endif %}

                            {% if profile.linkedin_profile_url %}
							<a href="{{ profile.linkedin_profile_url }}"><i class="fa fa-linkedin"></i></a>
                            {% endif %}
						</div>
					</div>

					<div class="td-right">
						<h3>{{ profile.full_name }}</h3>

						<ul>

							<li><strong>Email:</strong><p>{{ profile.user.email }}</p></li>
                            <li><strong>Age:</strong><p>{{ profile.age }}</p></li>

                            <li><strong>Fitness goals: </strong><p>{{ profile.fitness_goals|default:"N/A" }}</p></li>
                            <li><strong>Goal Weight:</strong><p>{{ profile.goal_weight|default:"N/A" }}</p></li>
                            <li><strong>Activity Level: </strong><p>{{ profile.activity_level|default:"N/A" }}</p></li>
                            <li><strong>Allergies:</strong><p>{{ profile.dietary_restrictions|default:"N/A" }}</p></li>
                            <li><strong>Diet:</strong><p>{{ profile.preferred_diet|default:"N/A" }}</p></li>

						</ul>
						<a href="{% url 'edit-profile' user.pk %}" class="site-btn sb-gradient">Edit Profile</a>

					</div>
				</div>
				<div class="trainer-details-text">
                    {% if profile.biography %}
                        <h3>About {{ profile.first_name }}</h3>
                        <p>{{ profile.biography|default:"" }}</p>
                    {%  endif %}

{#					TODO LATER: Add users measurements#}
                    <ul>
{#                        TODO LATER : to sresearch body indices different than BMI and other metrics /scores#}
{#						<li><i class="material-icons">check_circle</i>Current Weight: </li>#}
{#						<li><i class="material-icons">check_circle</i>To add all</li>#}
{#						<li><i class="material-icons">check_circle</i>the metrics </li>#}
{#						<li><i class="material-icons">check_circle</i>In the profile</li>#}
					</ul>
				</div>
            <br>
            <a href="{% url 'delete-profile' user.pk %}" class="btn-custom btn-delete">Delete Profile</a>
			</div>
		</div>
	</section>
	<!-- Trainers Section end -->




 {% endblock %}