{%  extends 'base.html' %}
{%  load static %}
{%  block main_content %}




    <!-- Hero Section -->
	<section class="hero-section signup-section">
    <div class="login-container">
        <div class="login-content ">
            <h2 class="login-title">Fit Diary</h2>

            <form action="{%  url 'register-user' %}" method="post" class="login-form singup-form">

                {{ form.as_p }}
                {% csrf_token %}

                <button type="submit" class="site-btn sb-gradient">Register</button>
            </form>


        </div>
        <div class="login-footer">


            <p>Already have an account? <a href="{%  url 'login-user' %}?next={{ next }}" class="register-link">Log in</a></p>
        </div>
    </div>
    </section>

{% endblock %}

