{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}

        <section class="hero-section" style="height: 150%;">
                <div class="container ">
                    <div class="trainer-details login-container" style="max-width: 800px;">
        {#           TODO: To revise the classes   pricing-section#}

                        <h2>Log {{ request.GET.entry_type }} entry</h2>
                        <br>

                        <form action="{%  url 'log-diary'  %}" method="post" class="singup-form login-form" enctype="multipart/form-data">

                            {{ form.as_p}}
                            {% csrf_token %}
                            <input type="hidden" name="entry_type" value="{{ request.GET.entry_type }}">
                            <button type="submit" class="site-btn sb-gradient">Log</button>
                        </form>
                    </div>
                </div>
        	</section>

{% endblock %}