{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}

    <section class="hero-section">
    {#    <section class="trainer-details-section spad overflow-hidden">#}
                <div class="container">
                    <div class="trainer-details login-container">
        {#           TODO: To revise the classes#}
{#                        TODO: context variable for the log#}
                        <h2>Delete {{ request.GET.entry_type }} entry</h2>
                        <br>

                        <form action="{%  url 'delete-diary' object.pk  %}" method="post" class="singup-form login-form" enctype="multipart/form-data">

                            {{ form.as_p}}
                            {% csrf_token %}
                            <input type="hidden" name="entry_type" value="{{ request.GET.entry_type }}">
                            <button type="submit" class="site-btn sb-gradient">Delete</button>
                        </form>
                    </div>
                </div>
        	</section>

{% endblock %}