{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}


	<!-- Page top Section -->
	<section class="page-top-section page-sp set-bg" data-setbg="img/page-top-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>FIT Diary</h2>



{#					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}

                </div>


                <div class="col-lg-5 m-auto ">
                        <form method="get" action="{% url 'log-diary' %}">

                            <select name="entry_type" class="circle-select" onchange="this.form.submit()">
                                <option value="" {% if request.GET.entry_type == "" %}selected{% endif %}>Add Log</option>
                                <option value="meal" {% if request.GET.entry_type == "meal" %}selected{% endif %}>Log meal</option>
                                <option value="drink" {% if request.GET.entry_type == "drink" %}selected{% endif %}>Log drink</option>
                                <option value="water" {% if request.GET.entry_type == "water" %}selected{% endif %}>Log water</option>

                            </select>
                        </form>
                    </div>

			</div>


		</div>
	</section>
	<!-- Page top Section end -->

{#        Filter logs#}
	<div class="container">
		<div class="event-filter-warp">
			<div class="row">
				<div class="col-xl-3">
{#                    TODO: fix this to work#}

{#                    <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ total_logs }} logs</p>#}
				</div>
				<div class="col-xl-9">
					<form class="event-filter-form">
						<div class="ef-item">
							<input type="text" placeholder="Event Date" class="event-date">
							<i class="material-icons">event_available</i>
						</div>
						<div class="ef-item">
							<input type="text" placeholder="Search">
							<i class="material-icons">search</i>
						</div>
						<div class="ef-item">
							<input type="text" placeholder="Location">
							<i class="material-icons">map</i>
						</div>
						<button class="site-btn sb-gradient">Find Event</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- Events Section -->
	<section class="events-page-section spad">
		<div class="container">
{#			<div class="row">#}

                <!-- Meals Section -->
{#            <div class="col-md-4">#}
                <h3 class="category-heading">Meals</h3>
                <div class="row">

                {% for obj in meals %}

                        <div class="col-lg-6">
                            <div class="event-item">

                                <div class="ei-img">
                                    {%  if obj.photo  %}
                                        <img src="{{ obj.photo.url }}" alt="some alt">
                                    {%  else %}
                                        <img src="{% static 'img/meal.png' %}" alt="">
                                    {%  endif %}
                                </div>

                                <div class="ei-text">
                                    <h4><a href="">{{ obj.name }}</a></h4>
                                    <ul>
                                        <li><i class="material-icons">person</i>{{ obj.meal_type }}</li>
                                        <li><i class="material-icons">map</i>Quantity: {{ obj.quantity }} {{ obj.unit }}</li>
                                        <li><i class="material-icons">map</i>Calories: {{ obj.calories }}</li>
                                        {% if obj.notes %}
                                        <li><i class="material-icons">map</i>Notes:{{ obj.notes }}</li>
                                        {%  endif %}
                                        <li><i class="material-icons">event_available</i>Date: {{ obj.created_at }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                {% endfor %}
            </div>

                    <!-- Drinks Column -->
{#            <div class="col-md-4">#}
                <h3 class="category-heading">Drinks</h3>
                <div class="row">
                {% for obj in drinks %}

                        <div class="col-lg-6">
                            <div class="event-item">

                                <div class="ei-img">
                                    {%  if obj.photo %}
                                        <img src="{{ obj.photo.url }}" alt="">
                                    {%  else %}
                                        <img src="{% static 'img/cocktail.png' %}" alt="">
                                    {%  endif %}
                                </div>

                                <div class="ei-text">
                                    <h4><a href="">{{ obj.name }}</a></h4>
                                    <ul>
                                        <li><i class="material-icons">map</i>Quantity: {{ obj.quantity }} {{ obj.unit }}</li>
                                        <li><i class="material-icons">map</i>Calories: {{ obj.calories }}</li>
                                        {% if obj.notes %}
                                        <li><i class="material-icons">map</i>Notes:{{ obj.notes }}</li>
                                        {%  endif %}
                                        <li><i class="material-icons">event_available</i>Date: {{ obj.created_at }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                {% endfor %}
            </div>

            <!-- Water Column -->
{#            <div class="col-md-4">#}
                <h3 class="category-heading">Water</h3>
            <div class="row">
                {% for obj in waters %}

                        <div class="col-lg-6">
                            <div class="event-item">

                                <div class="ei-img">
                                    {%  if obj.photo %}
                                        <img src="{{ obj.photo.url }}" alt="some alt">
                                    {%  else %}
                                        <img src="{% static 'img/water.png' %}" alt="">
                                    {%  endif %}
                                </div>

                                <div class="ei-text">
                                    <h4><a href="">Water added: {{ obj.quantity }} {{ obj.unit }}</a></h4>
                                    <ul>
                                        <li><i class="material-icons">map</i>Quantity: {{ obj.quantity }} {{ obj.unit }}</li>
                                        {% if obj.notes %}
                                        <li><i class="material-icons">map</i>Notes:{{ obj.notes }}</li>
                                        {%  endif %}
                                        <li><i class="material-icons">event_available</i>Date: {{ obj.created_at }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                {% endfor %}

			</div>

{#			<div class="site-pagination pt-3">#}
{#				<a href="#" class="active">1</a>#}
{#				<a href="#">2</a>#}
{#				<a href="#"><i class="material-icons">keyboard_arrow_right</i></a>#}
{#			</div>#}

            <div class="site-pagination pt-3">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; </a>
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="?page={{ num }}" class="active">{{ num }}</a>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                            <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
                        {% endif %}
            </div>

		</div>
	</section>
	<!-- Events Section end -->


{% endblock %}