{%  extends 'base.html' %}
{%  load static %}
{% block main_content %}


	<!-- Page top Section -->
	<section class="page-top-section page-sp set-bg" data-setbg="img/page-top-bg.jpg" style="height: 400px">

		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>FIT Diary </h2>
                </div>


                <div class="col-lg-5 m-auto ">
                        <form method="get" action="{% url 'log-diary' %}">

                            <select name="entry_type" class="circle-select" onchange="this.form.submit()">

                                <option value="meal" {% if request.GET.entry_type == "meal" %}selected{% endif %}>Log meal</option>
                                <option value="drink" {% if request.GET.entry_type == "drink" %}selected{% endif %}>Log drink</option>
                                <option value="water" {% if request.GET.entry_type == "water" %}selected{% endif %}>Log water</option>

                            </select>
                        </form>
                    </div>

			</div>


		</div>
	</section>
	<!-- Page top Section end -->






   <div class="container" style="padding-top: 20px;">
    <div class="stats-and-filter">
        <div class="stats-section" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding-bottom: 30px; border-bottom: 2px solid #eee;">
            <!-- Stats buttons -->
            <button type="button" class="site-btn" style="width: 220px; background-color: #fdb07d; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px; cursor: pointer; border-radius: 12px;">
                Total Entries <span class="badge text-bg-secondary" style="background-color: #ff6347; border-radius: 50%;">{{ total_logs }}</span>
            </button>
            <button type="button" class="site-btn" style="width: 360px; background-color: #fdb07d; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px; cursor: pointer; border-radius: 12px;">
                Daily Remaining Calories <span class="badge text-bg-secondary" style="background-color: #ff6347; border-radius: 50%;">{{ remaining_calories }}</span>
            </button>
            <button type="button" class="site-btn" style="width: 360px; background-color: #fdb07d; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px; cursor: pointer; border-radius: 12px;">
                Daily Water Consumption <span class="badge text-bg-secondary" style="background-color: #ff6347; border-radius: 50%;">{{ water_consumption }}l</span>
            </button>
        </div>
        <!-- Filtration form -->
        <div class="filter-section" style="padding-top: 30px; display: flex; justify-content: center; align-items: center;">
            <form class="event-filter-form" method="get" action="" style="display: flex; align-items: center;">
                <div class="ef-item" style="margin-right: 10px;">
                    <select name="date_range" style="margin-right: 10px;">
                        <option value="">Select Date</option>
                        <option value="today" {% if request.GET.date_range == "today" %} selected {% endif %}>Today</option>
                        <option value="yesterday" {% if request.GET.date_range == "yesterday" %} selected {% endif %}>Yesterday</option>
                        <option value="last_week" {% if request.GET.date_range == "last_week" %} selected {% endif %}>Last Week</option>
                    </select>
                </div>
                <div class="ef-item" style="margin-right: 10px;">
                    <select name="log_type" style="margin-right: 10px;">
                        <option value="">Select Log Type</option>
                        <option value="meal" {% if request.GET.log_type == "meal" %} selected {% endif %}>Meal</option>
                        <option value="drink" {% if request.GET.log_type == "drink" %} selected {% endif %}>Drink</option>
                        <option value="water" {% if request.GET.log_type == "water" %} selected {% endif %}>Water</option>
                    </select>
                </div>
                <div class="ef-item" style="margin-right: 10px;">
                    <button class="site-btn sb-gradient">Filter</button>
                </div>
                <div class="ef-item">
                    <a href="{% url 'diary' %}" ><button class="site-btn sb-gradient" type="button">Clear Filter</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

	<!-- Events Section -->
	<section class="events-page-section spad">
		<div class="container">
{#			<div class="row">#}

                {%  if meals %}

                <!-- Meals Section -->
                <h3 class="category-heading">Meals</h3>
                <div class="row">

                {% for obj in meals %}

                        <div class="col-lg-6">
                            <div class="event-item">

                                <div class="ei-img">
                                    {%  if obj.photo  %}
                                        <img src="{{ obj.photo.url }}" alt="some alt">
                                    {%  else %}
                                        <img src="{% static 'img/meal.png' %}" alt="">
                                    {%  endif %}
                                </div>

                                <div class="ei-text">
                                    <!-- Buttons container -->
                                    <div class="buttons-container" style="display: flex; justify-content: flex-end; margin-top: 0px;">
                                        <a href="{% url 'edit-diary' obj.pk %}?entry_type={{ obj.entry_type }}" class="btn-custom btn-edit" style="margin-right: 5px;">Edit</a>
                                        <a href="{% url 'delete-diary' obj.pk %}?entry_type={{ obj.entry_type }}" class="btn-custom btn-delete">Delete</a>
                                    </div>
                                    <h4>{{ obj.name }}</h4>
                                    <ul>

                                        <li><i class="material-icons">restaurant_menu</i>{{ obj.meal_type|default:"Breakfast" }}</li>

                                        <li><i class="material-icons">straighten</i>Quantity: {{ obj.quantity|default:0.0 }} {{ obj.unit }}</li>

                                        <li><i class="material-icons">local_fire_department</i>Calories: {{ obj.calories|default:0 }}</li>

                                        <li><i class="material-icons">note</i>Notes: {{ obj.notes|default:"..." }}</li>

                                        <li><i class="material-icons">event_available</i>Date: {{ obj.created_at|date:"F j, Y" }}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                {% endfor %}
            </div>

        {%  endif %}

        {%  if drinks %}
                    <!-- Drinks Column -->
{#            <div class="col-md-4">#}
                <h3 class="category-heading">Drinks</h3>
                <div class="row">
                {% for obj in drinks %}

                        <div class="col-lg-6">
                            <div class="event-item">

                                <div class="ei-img">
                                    {%  if obj.photo %}
                                        <img src="{{ obj.photo.url }}" alt="">
                                    {%  else %}
                                        <img src="{% static 'img/cocktail.png' %}" alt="">
                                    {%  endif %}
                                </div>

                                <div class="ei-text">
                                    <!-- Buttons container -->
                                    <div class="buttons-container" style="display: flex; justify-content: flex-end; margin-top: 0px;">
                                        <a href="{% url 'edit-diary' obj.pk %}?entry_type={{ obj.entry_type }}" class="btn-custom btn-edit" style="margin-right: 5px;">Edit</a>
                                        <a href="{% url 'delete-diary' obj.pk %}?entry_type={{ obj.entry_type }}" class="btn-custom btn-delete">Delete</a>
                                    </div>
                                    <h4>{{ obj.name }}</h4>
                                    <ul>
                                        <li><i class="material-icons">straighten</i>Quantity: {{ obj.quantity|default:0.0 }} {{ obj.unit }}</li>

                                        <li><i class="material-icons">local_fire_department</i>Calories: {{ obj.calories|default:0 }}</li>

                                        <li><i class="material-icons">note</i>Notes: {{ obj.notes|default:"..." }}</li>

                                        <li><i class="material-icons">event_available</i>Date: {{ obj.created_at|date:"F j, Y" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                {% endfor %}
            </div>
        {%  endif %}

        {%  if waters %}
            <!-- Water Column -->
{#            <div class="col-md-4">#}
                <h3 class="category-heading">Water</h3>
            <div class="row">
                {% for obj in waters %}

                        <div class="col-lg-6">
                            <div class="event-item">

                                <div class="ei-img">
                                    {%  if obj.photo %}
                                        <img src="{{ obj.photo.url }}" alt="some alt">
                                    {%  else %}
                                        <img src="{% static 'img/water.png' %}" alt="">
                                    {%  endif %}
                                </div>

                                <div class="ei-text">
                                    <!-- Buttons container -->
                                    <div class="buttons-container" style="display: flex; justify-content: flex-end; margin-top: 0px;">
                                        <a href="{% url 'edit-diary' obj.pk %}?entry_type={{ obj.entry_type }}" class="btn-custom btn-edit" style="margin-right: 5px;">Edit</a>
                                        <a href="{% url 'delete-diary' obj.pk %}?entry_type={{ obj.entry_type }}" class="btn-custom btn-delete">Delete</a>
                                    </div>
                                    <h4>Water added: {{ obj.quantity }} {{ obj.unit }}</h4>
                                    <ul>
                                        <li><i class="material-icons">straighten</i>Quantity: {{ obj.quantity|default:0 }} {{ obj.unit }}</li>

                                        <li><i class="material-icons">note</i>Notes: {{ obj.notes|default:"..." }}</li>

                                        <li><i class="material-icons">event_available</i>Date: {{ obj.created_at|date:"F j, Y" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                {% endfor %}

			</div>
            {%  endif %}
{#			<div class="site-pagination pt-3">#}
{#				<a href="#" class="active">1</a>#}
{#				<a href="#">2</a>#}
{#				<a href="#"><i class="material-icons">keyboard_arrow_right</i></a>#}
{#			</div>#}

            <div class="site-pagination pt-3">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; </a>
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="?page={{ num }}" class="active">{{ num }}</a>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
                            <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
                        {% endif %}
            </div>

		</div>
	</section>
	<!-- Events Section end -->


{% endblock %}