{% extends 'base.html' %}
{% load static %}
{% block main_content %}

	                                                                              
	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>About Us</h2>
					<p>Your one-stop solution to track your nutrition, hydration, workouts, and progress. Join us on a journey to a healthier you.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Service Section -->
	<section class="service-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="about-item icon-box">
						<div class="ai-icon">
							<img src="{%  static 'img/meal.png' %}" alt="">
						</div>
						<div class="ai-text">
							<h4>Calorie Tracking</h4>
							<p>Log every meal and snack to see your caloric intake and maintain a balanced diet.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="about-item icon-box">
						<div class="ai-icon">
							<img src="{%  static 'img/water.png' %}" alt="">
						</div>
						<div class="ai-text">
							<h4>Hydration</h4>
							<p>Keep track of your daily water intake to stay hydrated and healthy.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="about-item icon-box">
						<div class="ai-icon">
							<img src="{%  static 'img/weights-2.png' %}" alt="">
						</div>
						<div class="ai-text">
							<h4>Workouts Catalogue</h4>
							<p>Access a variety of workouts and track your progress over time.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="about-item icon-box">
						<div class="ai-icon">
							<img src="{%  static 'img/diary-1.png' %}" alt="">
						</div>
						<div class="ai-text">
							<h4>Progress Tracking</h4>
							<p>Visualize your achievements with detailed reports and insights on your journey.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Service Section end -->

	<!-- What we do Section -->
    <section class="wwd-section spad set-bg" data-setbg="{%  static 'img/wwd-bg.jpg' %}" style='background-image: url("{%  static 'img/wwd-bg.jpg' %}");'>

		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 ml-auto">
					<div class="wwd-text">

                        <h3>Empower Your Fitness Journey</h3>
						<p>Discover how Your Fitness Diary can transform the way you track and achieve your health and fitness goals. Our platform is designed to support, motivate, and guide you every step of the way.</p>
						<!-- Assuming progress bars represent features, updating to reflect website capabilities -->
						<div class="single-progress-item">
							<p>Calories Tracking</p>
							<div class="progress-bar-style" data-progress="99"  data-bgcolor="#f76d63"></div>
						</div>
						<div class="single-progress-item">
							<p>Hydration </p>
							<div class="progress-bar-style" data-progress="100"  data-bgcolor="#f76d63"></div>
						</div>
						<div class="single-progress-item">
							<p>Customizable Workouts</p>
							<div class="progress-bar-style" data-progress="90"  data-bgcolor="#f76d63"></div>
						</div>
						<div class="single-progress-item">
							<p>Progress Analysis</p>
							<div class="progress-bar-style" data-progress="80"  data-bgcolor="#f76d63"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- What we do Section end -->


	<!-- Blog Section -->
	<section class="about-blog-section spad">
		<div class="container">
			<div class="section-title text-center">
				<img src="{%  static 'img/icons/logo-icon.png' %}" alt="">
				<h2>Why Choose Us</h2>
				<p>Embark on your fitness journey with our comprehensive tracking tools designed for your health and well-being.</p>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="{%  static 'img/meal_tracking.png' %}" alt="">
						<div class="bi-text">
							<h2><a href="{%  url 'diary' %}">Comprehensive Meal Tracking</a></h2>
							<p>Easily log your meals to gain insights into your nutritional intake, helping you stay on track with your dietary goals.</p>
						</div>
						<div class="bi-footer">
							<div class="bi-cata">Nutrition</div>

						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="{%  static 'img/hydration.png' %}" alt="">
						<div class="bi-text">
							<h2><a href="{%  url 'diary' %}">Hydration at Your Fingertips</a></h2>
							<p>Monitor your water intake to ensure you're properly hydrated throughout the day for optimal health and performance.</p>
						</div>
						<div class="bi-footer">
							<div class="bi-cata">Wellness</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="{%  static 'img/workouts.png' %}" alt="">
						<div class="bi-text">
							<h2><a href="{%  url 'list-workout' %}">Diverse Workouts for Everyone</a></h2>
							<p>From beginners to advanced, find workouts that fit your level and goals in our extensive library.</p>
						</div>
						<div class="bi-footer">
							<div class="bi-cata">Fitness</div>

						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- Blog Section end -->

{%  endblock %}