{% extends 'base.html' %}
{% load static %}
{% block main_content %}



    <!-- Page top Section -->
<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg" style="height: 400px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>Contacts</h2>
                <p>We're here to help! Find all the ways you can contact us below.</p>
            </div>
        </div>
    </div>
</section>
<!-- Page top Section end -->


	<!-- Contact Section -->
	<section class="contact-page-section spad overflow-hidden" style="padding-top: 10px">
		<div class="container">
			<div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93062.94557782082!2d27.860508254040592!3d43.20493666196329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4538baaf3d7a1%3A0x5727941c71a58b7c!2sVarna!5e0!3m2!1sen!2sbg!4v1711638487502!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
			<div class="row">
				<div class="col-lg-4">
					<div class="con-info">
						<h3>Coordinates</h3>
						<ul>
							<li><i class="material-icons">map</i>Varna, Bulgaria</li>
						</ul>
					</div>
					<div class="con-info">
						<h3>Message Us</h3>
						<ul>
							<li><i class="material-icons">map</i>0897/ 214-209</li>
							<li><i class="material-icons">map</i>ilina.nedeva94@gmail.com</li>
						</ul>
					</div>
{#					<div class="con-info">#}
{#						<h3>Opening Hours</h3>#}
{#						<ul>#}
{#							<li><i class="material-icons">map</i>Mon - Fri:  6:30am - 07:45pm</li>#}
{#							<li><i class="material-icons">map</i>Sat - Sun:  8:30am - 05:45pm</li>#}
{#						</ul>#}
{#					</div>#}
					<div class="contact-social">
{#                        TODO: add links to social#}
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>

{#				<div class="col-lg-8">#}
{#					<form class="singup-form contact-form">#}
{#						<div class="row">#}
{#							<div class="col-md-6">#}
{#								<input type="text" placeholder="First Name">#}
{#							</div>#}
{#							<div class="col-md-6">#}
{#								<input type="text" placeholder="Last Name">#}
{#							</div>#}
{#							<div class="col-md-6">#}
{#								<input type="text" placeholder="Your Email">#}
{#							</div>#}
{#							<div class="col-md-6">#}
{#								<input type="text" placeholder="Phone Number">#}
{#							</div>#}
{#							<div class="col-md-12">#}
{#								<textarea placeholder="Message"></textarea>#}
{#								<a href="#" class="site-btn sb-gradient">Send message</a>#}
{#							</div>#}
{#						</div>#}
{#					</form>#}
{#				</div>#}
			</div>
		</div>
	</section>
	<!-- Trainers Section end -->

{% endblock %}